<blockquote class="instagram-media" data-instgrm-captioned
            data-instgrm-permalink="https://www.instagram.com/p/{{ include.id }}/?utm_source=ig_embed&amp;utm_campaign=loading"
            data-instgrm-version="14"
            style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px auto 16px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
    <a href="https://www.instagram.com/p/{{ include.id }}/?utm_source=ig_embed&amp;utm_campaign=loading"
       style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
       target="_blank">
        <div style="padding:16px;">
            <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><img src="/assets/insta.svg"/>
            </div>
            <div style="padding-top: 8px;">
                <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                    Post w formie infografik na Insta Polskie Termopile (@termopilepl)
                </div>
            </div>
        </div>
    </a>
</blockquote>
