.prev-next {
  display: block;
  overflow: hidden;
  @include relative-font-size(0.9);
}

.prev-next .half {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.prev-next .next {
  text-align: right;
}

.page-content {
  background-image: radial-gradient(circle, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .85) 100%), url("https://polskietermopile.pl/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.site-header, .site-footer {
  background-color: rgba(0, 0, 0, 1);
}
